#contact-form {
    max-width:90ch;
    align-self:center;
    margin-left:auto;
    margin-right:auto;
}

.label {
    color:var(--medium-color) !important;
}

/* .field {
    max-width:255ch;
}

.contact-input {
    max-width: 80ch!important;
} */

textarea {
    width:100% !important;
}

#contact-submit {
    background-color:var(--main-accent-color);
    color:white;
    align-self: flex-end;
}

.form-container {
    width:100%;
}