footer ul {
    /* margin-left:4ch !important; */
    line-height:1.7 !important;
    list-style:none !important;
}

/* Styling the footer. */
footer {
    position:fixed;
    bottom:0px;
    background-color:var(--main-accent-color) !important;
    width: 100%;
    z-index: 1000;
    /* margin-top:3% !important; */
}

footer ul li {
    text-align:center !important;
    color:var(--light-color) !important;
    font-size:1.4vw !important;
}

footer a:visited {
    color:#69225c !important;
}

footer a:hover {
    color:var(--background-accent) !important;
}