.dropdown-item {
    color:var(--main-accent-color);
}

.dropdown-item.is-active {
    color:var(--light-color);
    background-color:var(--light-semi-transparent);
}

.dropdown-item:hover {
    background-color:var(--main-accent-color) !important;
    color:var(--background-dark);
}