nav {
    display:flex !important;
    justify-content:flex-start !important;
    margin-left:20px !important;
    margin-right:20px !important;
    line-height:3 !important;
}

.nav-link {
    font-family:Arial, Helvetica, sans-serif !important;
    font-size:20px !important;
    color:var(--light-color) !important;
    flex: .1 1 auto !important;
    padding:0em 1em 0em 1em;
}

.active {
    color:var(--medium-color) !important;
    background-color:var(--light-semi-transparent) !important;
}

nav a:visited {
    color:var(--light-color) !important;
    text-decoration:none !important;
}

nav a:hover {
    color:var(--main-accent-color) !important;
}

@media screen and (max-width: 768px) {
    nav {
        display: block !important;
        line-height:1.5 !important;
        margin-left:0px !important;
        margin-right:0px !important;
    }

    nav a {
        display: block;
        text-align:center;
        border-bottom:1px solid var(--background-accent);
        box-shadow:0px 2px 5px #14171a !important;
    }
}