nav {
    display:flex !important;
    justify-content:flex-start !important;
    margin-left:20px !important;
    margin-right:20px !important;
    line-height:3 !important;
}

.nav-link {
    font-family:Arial, Helvetica, sans-serif !important;
    font-size:20px !important;
    color:var(--light-color) !important;
    flex: .1 1 auto !important;
    
}

.active {
    color:var(--background-dark) !important;
    background-color:var(--light-color) !important;
}

nav a:visited {
    color:var(--light-color) !important;
    text-decoration:none !important;
}

nav a:hover {
    color:var(--main-accent-color) !important;
}
