/* .featured-project {
    flex:0 1 calc(50% - 1.75em) !important;
    background-color:var(--main-accent-color) !important;
    border:2px solid var(--light-color) !important;
    margin-bottom:1em !important;
    margin-right:1em !important;
    overflow:hidden !important;
} */

.project {
    /* flex:0 1 calc(25% - 1.5em) !important; */
    /* border:2px solid var(--main-accent-color) !important; */
    padding:5vw !important;
    /* margin-right:1em !important; */
    /* overflow:hidden !important; */
    /* visibility:hidden; */
}

/* .project-background {
    background-color:rgba(255,255,255,0.05);
} */

/* .featured-project h3 {
    background-color:var(--light-color) !important;
} */

.mobile-project-name {
    color:var(--medium-color);
    font-size:1.5rem!important;
}

.featured-project a, .project a {
    z-index:1 !important;
}

.image-container {
    /* background-color: var(--main-accent-color) !important; */
    font-size:0 !important;
    line-height:0 !important;
    position:relative !important;
}

.project-image {
    background-color:var(--main-accent-color);
}

/* Creting an overlay for the description and tech stack for each project that overlaps the image. */
.details {
    /* flex:1 1 auto !important;
    width:80% !important;
    position:relative !important;
    margin-left:15% !important;
    margin-top:-25% !important; */
    z-index:2 !important;
}

.block {
    display: block;
}

/* .featured-project .details {
    margin-top:-13% !important;
} */

.description-mobile {
    /* font-size:smaller !important; */
    padding: 1em, !important;
    text-align:left !important;
    color:var(--medium-color);
    line-height:1!important;
}

.description {
    background-color:var(--background-accent) !important;
    font-size:smaller !important;
    /* padding:1em !important; */
    color:var(--light-color) !important;
    width:120%;
    transform:translateX(-20%);
}

.description p {
     text-align:right !important;
}

/* .featured-project .description {
    background-color:var(--featured-accent-translucent) !important;
    text-align:left !important;
} */

.project-links {
    list-style:none !important;
    display:flex !important;
    flex-wrap:nowrap !important;
    justify-content:flex-end;
    gap:10px !important;
    padding-bottom:3px !important;
}

.project-links-mobile {
    list-style:none !important;
    display:flex !important;
    flex-wrap:nowrap !important;
    justify-content:center;
    gap:10px !important;
    padding-bottom:3px !important;
}

.mobile {
    font-size:18px !important;
}

.project-link {
    color:var(--medium-color)
}

.project-link i {
    font-size: 120% !important;
}

.tech-stack {
    list-style:none !important;
    display:flex !important;
    flex-wrap:wrap !important;
    justify-content:flex-start !important;
    gap:10px !important;
    padding-top:3px !important;
    font-size:smaller !important;
    /* background-color: var(--featured-accent-translucent) !important; */
}

/* .featured-project .tech-stack {
    padding-left:1em !important;
    padding-right:1em !important;
} */

.translucent {
    background-color: rgba(0,0,0,0.2);
}

.project-image:hover {
    opacity:0.7;
}

.hoverable:hover .show-on-hover {
    display:flex !important;
}

@media screen and (min-width: 769px) {
    .project-image {
        opacity:0.7;
    }

    .project-image:hover {
        opacity:1;
    }
}